menu "Feature selection"

    rsource "board/Kconfig.projbuild"
    rsource "button/Kconfig.projbuild"
    rsource "camera/Kconfig.projbuild"
    rsource "csi/Kconfig.projbuild"
    rsource "dsi/Kconfig.projbuild"
    rsource "rgb/Kconfig.projbuild"
    rsource "sdmmc/Kconfig.projbuild"
    rsource "touch/Kconfig.projbuild"
    rsource "usb_device_cdc/Kconfig.projbuild"

endmenu
