config WT_BSP_BOARD_WT9932P4_TINY
    bool
    depends on IDF_TARGET_ESP32P4
    default y if WT_BSP_SELECTED_BOARD_WT9932P4_TINY
    default y if !WT_BSP_BOARD_SELECTED_BY_TOOL
    select WT_BSP_BOARD_HAS_BOARD
    select WT_BSP_BOARD_HAS_BUTTON
    select WT_BSP_BOARD_HAS_RGB
    select WT_BSP_BOARD_HAS_SDMMC
    select WT_BSP_BOARD_HAS_DSI
    select WT_BSP_BOARD_HAS_CSI
    select WT_BSP_BOARD_HAS_TOUCH
    select WT_BSP_BOARD_HAS_USB_DEVICE_CDC
